#hero {
  height: 50vh;
  min-height: 300px;
  padding: 50px;
  background: linear-gradient(hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.7)),
    url(../../assets/images/python-tweets-code-snippet.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  color: white;
  text-align: center;
}

#hero h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  text-shadow: -5px 0px 20px rgba(255, 255, 255, 0.5),
    5px 0px 20px rgba(255, 255, 255, 0.5),
    0px -5px 20px rgba(255, 255, 255, 0.5),
    0px 5px 20px rgba(255, 255, 255, 0.5);
}

#hero h2 {
  font-size: 2em;
}
