#snippets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.snip {
  width: 90%;
  max-width: 609px;
  margin: 1rem 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.snip .text {
  padding: 1rem;
  border: 1px solid #282c3452;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
}

.snip h2 {
  margin-bottom: 0.5rem;
}

.snip p {
  color: rgba(0, 0, 0, 0.75);
}

.snip pre code {
  border-radius: 0 0 5px 5px;
}
